#logo { 
    position: relative;
    height: 70px;
    left: 50%;
    /* margin-left: 100px; */
    display: block;
    Overflow: auto;
}

#howToPlay {
    margin-top: 15px;
}

.navbar img {
    display:block;
    margin: 0px auto;
}

.card-img-overlay {
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    /* vertical-align: bottom; */
}

.navbar-text {
    text-align: center;
    width: 100%;
}
 button {
     align-content: center
 }

 #defenderOpponent {
    margin-top: 15px;
 }

 #RPG {
    position: relative; 
    float: left;
    color: #ffffff;
 }

 img {
   height: 150px;
}

.imagebox {
    float: left;
    background-color: white;
    text-align: center;
    padding: 0px 20px;
}

.imagebox p {
    margin: 0;
    color: black;
}

.imagebox img {
    margin: 4px 0px;
}

p {
    font-size: 18pt;
    font-weight: 700;
}

#hp {
    font-size: 12pt;
    font-weight: 500;
}

.panel {
    display: inline-block;
    text-align: center;
    background-color: white;
    margin: 10px;
  }
  
  .panel img {
    max-height: 150px;
    width: auto;
  }

  hr {
      margin-top: 10px;
  }

  #sectionTitle {
      min-height: 50px;
  }